// colour
// primary
$primary-black: rgba(50, 50, 50, 1);
$primary-white: #ffffff;
$primary-blue-01: #4040ff;
$primary-blue-02: #6b6bff;
$primary-blue-03: #c5c5ff;
$primary-blue-04: #e3e3ff;
$primary-blue-05: #eeeeff;
$primary-nfticon: #5757ff;
$primary-background: #f5f5f5;

// text / line
$text-dark-grey: #323232;
$text-grey: #696980;
$text-navy: #41419f;
$text-caption: #a3a3ad;

$disabled-01: #b4b5c0;
$disabled-02: #d2d6e8;

$sidebar-text: #6f7ea3;
$sidebar-icon: #a9b7db;

$line-01: #b4bad0;
$line-02: #d2d6e8;

// background
$background-app-bg: #f3f4f9;
$background-popup: #f5f6ff;
$background-floating-p: #5757ff;

// alert
$primary-alert-red-01: #e03655;
$primary-alert-red-02: #ff5050;
$primary-alert-bg: rgba(249, 139, 139, 0.08);

// 용처: 강조 버튼색
$link-blue-03: #5170bb;
// 용처: 옅은 버튼색, 버튼 선택 전
$link-gray-02: #c9cfdb;
